<!DOCTYPE html>
<html>
    <head>
        <title>Cafetería Student</title>
    </head>
    <body bgcolor= "#D7CCC8">

        <h1>Cafetería Student</h1>
        <p>Bienvenidos al sitio Web de Cafetería Student, la mejor cafetería de la ciudad para estudiantes.</p>

    </body>
</html>
