<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 400px;
       }
    </style>
  </head>
  <body bgcolor= "#D7CCC8">
    <h1> Nuestro menú </h1>



  </body>
</html>
