<!DOCTYPE html>
<html>
  <head>
        <title>Nuestro Menú</title>
        <link type="text/css" rel="stylesheet" href="Mi-estilo.css"/>
  </head>
  <body bgcolor= "#D7CCC8">

    <div id="navegador">
    <ul>
    <li><a href="/quienes-somos">¿Quienes somos?</a></li>
    <li><a href="/nuestro-menu">Nuestro menú</a></li>
    <li><a href="/ubicacion">Unicación</a></li>
    </ul>
    </div>

    <h1> Nuestro menú </h1>



  </body>
</html>
