<% @empleados = [{nombre: "Jerry Jiménez", puesto: "Gerente", correo: "jjimenez@student.com"},
  {nombre: "Carlos Segura", puesto: "Cajero", correo: "csegura@student.com"},
  {nombre: "Adriana Carrillo", puesto: "Cajero", correo: "acarrillo@student.com"},
   {nombre: "Pedro Estrella", puesto: "Mesero", correo: "no aplica"},
   {nombre: "Esmeralda Aquino", puesto: "Mesero", correo: "no aplica"},
   {nombre: "Fabiola Alcocer", puesto: "Mesero", correo: "no aplico" }
   ] %>



<!DOCTYPE html>
<html>
    <head>
        <title>¿Quienes somos?</title>
        <link type="text/css" rel="stylesheet" href="Mi-estilo.css"/>
    </head>
    <body bgcolor= "#D7CCC8">

      <div id="navegador">
      <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/quienes-somos">¿Quienes somos?</a></li>
      <li><a href="/nuestro-menu">Nuestro menú</a></li>
      <li><a href="/ubicacion">Unicación</a></li>
      </ul>
      </div>

        <h1>¿Quienes somos?</h1>

      <p> Cafetería Student es la primera cafetería en su clase en la ciudad,
        pues está especializada para generar un área de trabajo cómoda para
        estudiantes de tal forma que se sientan satisfechos con nuestra amplia
        gama de bebidas y alimentos y aprovechen nuestras instalaciones para
        prepararse para la escuela. </p>

     <p>Contamos con una membresía de estudiantes con la cual, las personas
       pueden obtener más beneficios que los clientes normales. Aparte del
        área común y del área del jardín, contamos con 3 salas con mesas para
        grupos de 5 a 8 personas, la cual cuenta con proyectores, conectores
        eléctricos y pizarras para escribir, los clientes que cuentan con la
        membresía, pueden hacer uso de estas salas, agendándola previamente,
        asimismo, tienen derecho a café americano refil mientras la ocupan.
        Adicionalmente, contamos con servicios de internet gratuito para todos
        nuestros clientes y un sistema de promociones diarias, que varían mes a
         mes, de tal forma que puedan tener fácil accesibilidad a nuestras
         bebidas y alimentos. </p>
    </body>

<h1 >Equipo de trabajo </h1>


<% @empleados.each do |empleado|%>
<%= empleado %>
<% end%>





</html>
